@import "./utilities.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --background-colour: #191c25;
    --accent-colour: #1d90c6;
    --primary: #1dc6a1;
    --text-colour: #eee;
    --navbar-background: #222;
    --navbar-text: #fff;
    --heading-colour: #1dc6b5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--background-colour);
    color: var(--text-colour);
}

body *:first-child:not(nav):not(a) {
    margin-top: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    color: var(--heading-colour);
}

#title {
    text-align: center;
    margin: 4rem 0rem 1rem 0rem;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3rem;
    mask-image: linear-gradient(90deg,var(--accent-colour) 0%, var(--primary) 100%);
    -webkit-mask-image: linear-gradient(90deg,var(--accent-colour) 0%, var(--primary) 100%);
}